@media (min-width: 1550px) {
  .main-profile .prepare-box .subjects-contain .subject-list li a {
    width: 180px;
    height: 150px;
  }
}

@media (max-width: 1100px) {
  .top-nav {
    width: 100% !important;

    .brand-name  {
      display: block !important;
    }

    .toggler {
      display: flex !important;
    }

    .user-info {
      display: none !important; 
    }

    &.active-top-nav {
      width: 100% !important;
    }
  }

  .side-nav {
    width: 100% !important;
    height: 100vh !important;
    left: -100%;

    .user-info {
      display: flex !important;
    }

    .side-nav-data  {
      width: 300px !important;
      padding-top: 20px;
      left: -100%;
      transition: all .3s linear;
    }

    .logo-contain {
      display: none !important;
    }

    .overlay {
      display: block;
      opacity: 0;
      height: 100%;
      visibility: hidden;
    }

    .close-nav {
      display: flex !important;
    }

    &.active-side-nav {
      width: 100% !important;
      left: 0px;

      .overlay {
        opacity: 1;
        visibility: visible;
      }

      .brand-name {
        display: block;
      }
  
      .brand-icon {
        display: none;
      }

      .side-nav-data {
        left: 0px;
        padding-top: 60px;
      }

      .seprate {
        border: 0px;
        
        span {
          display: block;
        }
      }

      .nav-link {
        width: 100%;
        border-radius: 50px !important;
        justify-content: flex-start !important;
        span,
        &::before {
          display: block !important;
        }

        img {
          margin-inline-end: 15px !important;
        }
      }
    }
  }

  .main-contain {
    padding-inline-start: 0px;
    padding-inline-end: 0px !important;

    &.active-main {
      padding-inline-start: 0px !important;
    }

    .copyrights {
      flex-direction: column;
      justify-content: center;
      text-align: center;

      p {
        margin-bottom: 10px;
      }
    }
  }

  .user-profile-card {
    padding: 30px 25px !important;
  }

  .prepare-box {
    padding: 28px 16px !important;

    .flex-data {
      flex-direction: column;
      justify-content: flex-start !important;
      align-items: flex-start !important;
      align-content: flex-start !important;

      .heading {
        margin-bottom: 15px;
      }
    }

    .subjects-contain {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;

      .subject-list {
        width: 100% !important;
        flex-direction: row !important;
        justify-content: center !important;
        padding-top: 20px;
        padding-inline-start: 0px !important;
        border-top: 1px solid rgba($color: #2E3192, $alpha: 0.06);
        border-inline-start: 0px !important;
        margin-top: 20px;

        li a {
          width: 107px !important;
        }
      }
    }
  }
  .table-responsive  {
    &::-webkit-scrollbar, 
    &::-webkit-scrollbar-track  {
      height: 10px !important;
    }
    
    table {
      tbody tr th {
        min-width: 120px;
      }

      td {
        min-width: 105px;
      }
    }
  }

  .progress-contain .progress-data {
    flex-direction: column !important;
    padding: 15px 10px;

    .week-list {
      flex-wrap: wrap;

      li {
        margin-bottom: 10px;

        &:last-child {
          margin-inline-end: 10px;
        }

        a {
          width: 140px !important;
        }
      }
    }

    &::after {
      transform: rotate(180deg) !important;
    }
    
    .button-list {
      width: 100% !important;

      &:first-child {
        margin-bottom: 30px !important;
      }

      &:last-child {
        margin-top: 30px !important;
      }
    }
  }

  .progress-contain .progress-data .week-list.blue-color li a {
    width: 140px !important;
  }
}

@media (max-width: 500px) {
  .absence {
    .flex-data {
      flex-direction: column; 
      justify-content: flex-start;
      align-content: space-between;
      align-items:flex-start;
  
      .general-head {
        margin-bottom: 10px;
      }
    }

    th {
      min-width: 140px !important;
    }
  }

  .modal-dialog  {
    max-width: 100% !important;
    margin: 40px 0px 0px 0px!important;

    .modal-body {
      padding: 25px 15px !important;
    }

    .close-modal-icon {
      position: absolute;
      top: 30px;
      right: 30px;
    }

    .flex-data {
      margin-bottom: 15px !important;
      padding-bottom: 15px !important; 

      .list {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;

        li {
          width: 100%;
          margin-bottom: 10px;
          margin-inline-end: 0px !important;
        }
      }
    }
    
    .total-amount {
      width: 100%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;

      .flex-price {
        width: 100%;
        margin-bottom: 15px;
        justify-content: space-between !important;

        .contain {
          margin: 0px !important;
        }
      }
    }
  }

  .grades .filter-colors {
    flex-wrap: wrap !important;

    li {
      margin-bottom: 10px;

      span {
        font-size: 12px !important;
      }
    }
  }
}